@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-color: #29779c;
  --sec-color: #f8b970;
  --grey-color:rgb(215, 214, 214);
  --dark-main: #17465c;

}

section {
  padding: 100px 200px;
}

/* start Header */

header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

header .logo {
  text-decoration: none;
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 1px;
}
.navigation a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  position: relative;
}

.navigation a:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}

.navigation a:hover:after {
  width: 100%;
}

.navigation a:after {
  content: "";
  position: absolute;
  background-color: var(--sec-color);
  width: 0;
  height: 3px;
  top: 26px;
  right: 0px;
  transition: 0.3s ease;
}

@media (max-width: 767px) {
    section{
         padding: 40px 100px;
    }
  header {
    padding: 20px;
    flex-direction: column;
  }
  .navigation {
    margin-top: 9px;
  }
  .navigation a:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* END Header */

@media (max-width:767px) {
   .main{
    flex-direction: column;
    justify-content: center;
    
   }
   .main .main-content{
       padding-top: 60px;
   }

}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4) url(Images/header.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  background-attachment: fixed;
}

.main h2{
    color: var(--grey-color);
    font-size: 1.4em;
    font-weight: 500;
    font-style: italic;

}

.main h2 span{
    color: var(--sec-color);
    font-size: 3em;
    font-weight: 600;
    display:inline-block;
    margin-top: 10px;
    letter-spacing: 2px;

}

.main h3{
    color: var(--grey-color);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--grey-color);
    font-size:1.1em;
    font-weight: 600;
    display: inline-block;
    padding:0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;

}

.main-btn:hover{
    background-color: var(--dark-main);
    transform: scale(1.1);

}

.social-icons a{
    color:var(--grey-color);
    font-size: 1.7em;
    padding-right: 30px;

}

/* END main section */

@media (max-width:767px) {
   .cards{
       padding:40px 30px;
   }

}
.title{
    display: flex;
    justify-content: center;
    color:var(--sec-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba( 1 1 1 / 15% );
    border-radius: 10px;
    padding: 25px;
    margin:15px;
    transition: 0.7s ease;

}

.card:hover{
    /* background-color: var(--sec-color); */
    transform: scale(1.1);

}

.icon{
    color:var(--main-color);
    text-align: center;
    font-size: 7em;
}
.info{
    text-align: center;
}

.info h3{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px
}

.projects{
    background-color: var(--dark-main);
    padding:40px 10px;

}
.projects .content{
    margin-top: 30px
}

.projects .project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width:23em;
    overflow: hidden;
    border-radius: 3px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform:scale(1.1);
}
.project-image img{
    width:100%
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color:#000
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

}
.more-details{
    text-decoration: none;
    color:var(--main-color)

}

.more-details:hover{
    color:var(--sec-color)
    
}
.contact .icon{
    font-size: 4em;
}

footer{
    background-color: var(--sec-color);
    color:#000;
    padding:2em;
    display:flex;
    justify-content: space-between;

}

.footer-title{
    font-size:1.3em;
    font-weight: 600;
}
.footer-title span{
    color:var(--main-color)
}

.footer .social-icons a{
    font-size: 1.3em;
    color:var(--main-color);
    padding: 0 12px 0 0;
}

@media (max-width:312px){
    body{
        font-size:12px;
    }
}

@media (max-width:900px){
    section {
        padding: 50px 77px;
    }
    header{
        padding: 10px 77px;
    }
    .cards .content{
        padding:40px 30px;
        margin:0
    }
}